.add-button {
  padding: 9px 20px;
  border-radius: 5px;
  border-color: aliceblue;
  background-color: beige;
}

.App-header {
  min-height: 8vh;
  background-color: black;
}

.schedule {
  justify-content: center;
}

.done {
  text-decoration: line-through;
  color: green
}
.input-bar {
  margin-top: 20px;
  margin-bottom: 15px;
  height: 32px;
  width: 350px;
}

li {
  padding: 5px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 0;
}

#nav-bar a {
  text-align: center;
  float: left;
  font-size: 22px;
  color: white;
  padding: 10px;
  margin-top: 0;
  text-decoration: none;
}

#homepage-image {
  height: auto;
}

.schedule-section {
  text-align: center;
}

.task-button {
  background-color: beige;
  border-radius: 5px;
  border-color: aliceblue;
  margin-left: 5px;
}

.task-list {
  text-align: center;
}

#workout-title {
  margin-bottom: 0px;
}

#workout-description {
  padding: 0 400px 0 400px;
}

.workout-list {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}